Button {
    width: 16;
}

Static{
    color: rgb(226, 46, 226);
}

#arpTitle{
    content-align: center top;
}

#dnsTitle{
    content-align: center top;
}

#DNS_st{
    layout: horizontal;
    padding: 4 0 0 32;
}

#DnsStart{
    margin: 0 1 0 0;
}

#DNS_addel{
    layout: horizontal;
    padding: 4 0 0 32;
}

#RevBtn{
    layout: horizontal;
    padding: 3 0 0 40;
}

#btnAdd{
    margin: 0 1 0 0;
}

#btnshw{
    margin: 0 1 0 0;
}

#ARPsub_res{
    layout: horizontal;
    padding: 2 0 0 40;
}

#ARPlogs{
    layout: horizontal;
}

#ArpST_st{
    layout: horizontal;
    padding: 2 0 0 40;
}

#ARPsubm{
    content-align: center middle;
    margin: 0 1 0 0;
}

#ARPreset{
    content-align: center middle;
}

#arpInfoTL{
    content-align: left middle;
}

#arpProcTL{
    content-align: right middle;
}

#ARPstart{
    content-align: center bottom;
    margin: 0 1 0 0;
}

#ARPstop{
    content-align: center bottom;
}

#dns,#arp,#sh,#rmw,#wr{
    width: 40;
}

.started #start{
    background: $error;
}

.started #start {
    background: $error;
}
.arpp,.shell,.rams,.wrm #dns{
    background: $success;
}
.dnsp,.shell,.wrm,.rams #arp{
    background: $success;
}
.dnsp,.arpp,.rams,.wrm #sh{
    background: $success;
}
.dnsp,.arpp,.shell,.wrm #rmw{
    background: $success;
}
.dnsp,.arpp,.shell,.rams, #wr{
    background: $success;
}

.dnsp #dns{
    display: block;
    background: $error;
}

.arpp #arp{
    display: block;
    background: $error;
}

.shell #sh{
    display: block;
    background: $error;
}

.rams #rmw{
    display: block;
    background: $error;
}


.wrm #wr{
    display: block;
    background: $error;
}


.hidden #arpTUI{
    display:  none;
}

.hidden #dnsTUI{
    display:  none;
}

.hidden #RevTUI{
    display:  none;
}

Sidebar {
    width: 40;
    background: $panel;
    transition: offset 500ms in_out_cubic;
    layer: overlay;

}

Sidebar:focus-within {
    offset: 0 0 !important;
}

Sidebar.-hidden {
    offset-x: -100%;
}

Sidebar Title {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    border-right: vkey $background;
    dock: top;
    text-align: center;
    text-style: bold;
}

DarkSwitch {
    background: $panel;
    padding: 1;
    dock: bottom;
    height: auto;
    border-right: vkey $background;
}

DarkSwitch .label {
    width: 1fr;
    padding: 1 2;
    color: $text-muted;
}

DarkSwitch Switch {
    background: $boost;
    dock: left;
}