Button {
    width: 16;
}
#dns,#arp,#sh,#rmw,#wr{
    width: 40;
}

#start {
    dock: left;
}

#stop {
    dock: right;

}

#reset {
    dock: right;
}


.started #start {
    display: block;
    background: $error;
}
.rams #rmw{
    background: $error;
}

.arpp,.shell,.rams,.wrm #dns{
    background: $success;
}
.dnsp,.shell,.rams,.wrm #arp{
    background: $success;
}
.dnsp,.arpp,.rams,.wrm #sh{
    background: $success;
}
.dnsp,.arpp,.shell,.wrm #rmw{
    background: $success;
}
.dnsp,.arpp,.shell,.rams, #wr{
    background: $success;
}


.shell #sh{
    display: block;
}
.shell #sh{
    background: $error;
}



.started #stop {
    display: block;
    background: blue;
}

.started #reset {
    visibility: hidden;
}

Sidebar {
    width: 40;
    background: $panel;
    transition: offset 500ms in_out_cubic;
    layer: overlay;

}

Sidebar:focus-within {
    offset: 0 0 !important;
}

Sidebar.-hidden {
    offset-x: -100%;
}

Sidebar Title {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    border-right: vkey $background;
    dock: top;
    text-align: center;
    text-style: bold;
}

DarkSwitch {
    background: $panel;
    padding: 1;
    dock: bottom;
    height: auto;
    border-right: vkey $background;
}

DarkSwitch .label {
    width: 1fr;
    padding: 1 2;
    color: $text-muted;
}

DarkSwitch Switch {
    background: $boost;
    dock: left;
}